body {
    font-family: "Noto Sans Thai", serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Noto Sans Thai", serif !important;
}

.in-line {
    display: flex;
    align-items: center;
}

.in-line img {
    margin-right: 8px;
}

.f {
    font-family: "Noto Sans Thai", serif !important;
}

#dataTable {
    width: 100% !important;
}

.dataTables_wrapper {
    overflow-x: auto;
}

.buttons-excel:before {
    content: "" !important;
}

.nk-menu-text {
    font-family: "Noto Sans Thai", serif !important;
}

.m {
    margin: 1px;
}

.mt-3 {
    margin-top: 3px;
}

.alert {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}