body {
    font-family: "Noto Sans Thai", serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1,
h2,
h3,
h4,
h5,
a {
    font-family: "Noto Sans Thai", serif !important;
}

#dataTable {
    width: 100% !important;
}

.dataTables_wrapper {
    overflow-x: auto;
}

.buttons-excel:before {
    content: "" !important;
}

.nk-menu-text {
    font-family: "Noto Sans Thai", serif !important;
}

.m {
    margin: 1px;
}