body {
    font-family: "Noto Sans Thai", serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1,
h2,
h3,
h4,
h5,
.btn {
    font-family: "Noto Sans Thai", serif !important;
}

.header {
    background-color: #ff7f00;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.border-no-radius {
    border: 1px solid #dee2e6 !important;
    border-radius: 0 !important;
}

.side-panel {
    background-color: #f8f9fa;
    height: 400px;
    overflow-y: auto;
    border: 1px solid #dee2e6;
}

.side-panel-light {
    /* background-color: #f8f9fa; */
    height: 400px;
    overflow-y: auto;
    border: 1px solid #dee2e6;
}

.side-panel-basemap {
    background-color: #f8f9fa;
    height: 100px;
    /* overflow-y: auto; */
    border: 1px solid #dee2e6;
}

.content {
    height: 400px;
    border: 1px solid #dee2e6;
}

.data-query {
    margin-top: 15px;
}

.data-table {
    height: 200px;
    overflow-y: auto;
}