body {
    font-family: "Noto Sans Thai", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.header {
    background-color: #ff7f00;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.side-panel {
    background-color: #f8f9fa;
    height: 400px;
    overflow-y: auto;
}

.content {
    height: 400px;
    border: 1px solid #dee2e6;
}

.data-query {
    margin-top: 15px;
}

.data-table {
    height: 200px;
    overflow-y: auto;
}