body {
    font-family: "Noto Sans Thai", serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1 h2 h3 h4 h5 h6 {
    font-family: "Noto Sans Thai", serif !important;
}

.in-line {
    display: flex;
    align-items: center;
}

.in-line img {
    margin-right: 8px;
}

.error {
    color: red;
}

.f {
    font-family: "Noto Sans Thai", serif !important;
}

.nk-menu-text {
    font-family: "Noto Sans Thai", serif !important;
}

.m {
    margin: 1px;
}

.data-query {
    margin-top: 15px;
}

.side-panel {
    /* background-color: #f8f9fa; */
    height: 320px;
    overflow-y: auto;
    overflow-x: hidden;
    /* border: 1px solid #dee2e6; */
}

buttons-excel:before {
    content: none !important;
}